<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="ca">i-com-a</a></li>
      <li><a routerLink="cb">i-com-b</a></li>
      <li><a routerLink="cc">o-com-a</a></li>
      <li><a routerLink="cd">o-com-b</a></li>
      
      <li><a href="#">Link</a></li>
    </ul>
    <button class="btn btn-danger navbar-btn">Button</button>
  </div>
</nav>

